<br>
<h4 class="center">Modifica l'annuncio "<%= @content.titolo %>"</h4>

<%= render 'form' %>
<br>
<div class="container">
<%= link_to 'Mostra annuncio', @content %> |
<%= link_to 'Torna agli annunci', contents_path %>
</div>
</div>